@font-face {
    font-family: "Century Gothic";
    src: url(centurygothic.ttf);
}

html {
    height: 100%;
}

body {
    margin: 0;
	font-family: "Century Gothic";
    height: 100%;
}

ul {
    margin: 0;
}

a {
    text-decoration: none;
    color: white;
}

.header {
    position: fixed;
    background-color: black;
    color: white;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    box-sizing: border-box;
    flex-direction: row;
    z-index: 1;
}

.header-left, .header-center, .header-right {
    flex: 1;
    height: 100%;
}

.header-left {
    text-align: left;
}

.header-center {
    text-align: center;
}

.header-right {
    text-align: right;
}

.header-left, .header-center, .header-right {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.no-bullet li {
    list-style-type: none;
}

.content {
    display: block;
    box-sizing: border-box;
    margin-top: calc(30px + 0.5em * 2 + 14px);
    overflow-y: auto;
    height: calc(100% - (30px + 0.5em * 2 + 14px));
}

.hoverable {
    background-color: black;
}

.hoverable:hover {
    background-color: #333;
}